<% @genres.each do |genre| %>
  <li><a href="/genres/<%= genre.slug %>"> <%= genre.name %></a></li>
<% end %>


<% Genre.all.each do |genre| %>
  <input id="<%= genre.name %>" type="checkbox" name="genres[]" value="<%= genre.id %>">
<% end %>
